body, html {
    height: 100%;
}
body{
	/* background-color: #ee9617;
	background-image: linear-gradient(315deg, #ee9617 0%, #fd6309c4 74%);
	background-size: 500%; */
	
	/* background: linear-gradient(315deg, #8608ff, #00f77c, #fb4646, #34bee6, #000000);
    background-size: 1000% 1000%;
	animation: gradient 25s ease infinite; */
}
 /* Gradient Key Frames */
@keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }	

#land_div{
    height: 80%;
    background-color: rgba(255, 255, 255, 0.2);
}

.name{
    position: absolute;
    bottom: 20%;
    left: 16px;
}

#summary{
	background-color: rgba(128, 128, 128, 0.527);
	width: 100%;

}

h1 span{
	color: rgb(105, 115, 255);
	font-weight: 500;
}